@charset "UFT-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

:root {
  --cor01: #162331;
  --cor02: #163A5C;

  --fonte-condensed: 'Roboto Condensed', sans-serif;
  --fonte-raleway: 'Raleway', sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

#principal {
  max-width: 1024px;
  margin: 40px auto;
}

header {
  height: 50px;
  background-color: var(--cor01);
  position: relative;
}

.logo {
  margin: 8px 5%;
}

.menu {
  position: absolute;
  top: 0px;
  right: 0px;

  margin-right: 5%;
}

.menu li {
  display: inline-block;
  font-family: var(--fonte-condensed);
  margin-left: 20px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}

.menu a {
  color: #32475C;
  list-style: none;
  text-decoration: none;
}

.menu a:hover {
  color: #556474;
  transition: color 0.3s linear;
} 

.portfolio {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 60px;
}

.portfolio h1 {
  font-size: 3.5vw;
  margin-top: 50px;
}

.portfolio p {
  color: rgb(117, 109, 109);
  font-size: 1.5vw;
  line-height: 1.8em;
}

.gallery {
  margin-left: 115px;
}

.gallery .gallery-card {
  display: inline-block;
  margin-left: 2px;
  position: relative;
}

.gallery-card img {
  width: 20vw;
}

.gallery-title {
  font-family: var(--fonte-condensed);
  color: var(--cor01);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bolder;
}

.gallery-card {
  font-family: var(--fonte-raleway);
  text-align: center;
  letter-spacing: 2px;
  font-size: 18px;
}

.about {
  background-color: #003D52;
  height: 600px;
  background-image: url(../imagens/bg_detalhe.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  position: relative;

  margin-top: 60px;
}

.about h2 {
  font-family: var(--fonte-raleway);
  font-size: 50px;
  text-transform: uppercase;
  color: white;
  position: absolute;
  margin: 100px;
}

.about p {
  font-family: sans-serif;
  font-size: 18px;
  color: white;
  line-height: 1.5em;
  position: absolute;
  width: 500px;
  margin: 250px 0px 0px 100px;
}

.contact {
  font-family: sans-serif;
  font-size: 30px;
  color: var(--cor01);
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;

  margin: 60px 0px;
}

.contact p {
  margin: 0px;
  padding: 0px;
}

.maps iframe {
  width: 1024px;
}

footer {
  background-color: var(--cor01);
  color: white;
  font-family: sans-serif;
  text-align: center;
  padding:10px;
  margin: 60px 0px;
}